body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u240 {
  position:absolute;
  left:85px;
  top:119px;
  width:91px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u241 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:97px;
  top:157px;
  width:296px;
  height:125px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u244 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u245 {
  position:absolute;
  left:100px;
  top:0px;
  width:191px;
  height:30px;
}
#u246 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u247 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u248 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u249 {
  position:absolute;
  left:100px;
  top:30px;
  width:191px;
  height:30px;
}
#u250 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u251 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u252 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u253 {
  position:absolute;
  left:100px;
  top:60px;
  width:191px;
  height:30px;
}
#u254 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u255 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u256 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u257 {
  position:absolute;
  left:100px;
  top:90px;
  width:191px;
  height:30px;
}
#u258 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:303px;
  top:277px;
  width:85px;
  height:21px;
}
#u259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
