body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:298px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  position:absolute;
  left:146px;
  top:163px;
  width:502px;
  height:298px;
}
#u401 {
  position:absolute;
  left:2px;
  top:141px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u402 {
  position:absolute;
  left:200px;
  top:200px;
  width:392px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u403 {
  position:absolute;
  left:2px;
  top:14px;
  width:388px;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:184px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u404 {
  position:absolute;
  left:200px;
  top:264px;
  width:392px;
  height:184px;
}
#u405 {
  position:absolute;
  left:2px;
  top:2px;
  width:388px;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u406 {
  position:absolute;
  left:241px;
  top:303px;
  width:50px;
  height:80px;
}
#u407 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408 {
  position:absolute;
  left:418px;
  top:293px;
  width:145px;
  height:25px;
}
#u408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u409 {
  position:absolute;
  left:418px;
  top:331px;
  width:145px;
  height:25px;
}
#u409_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u410 {
  position:absolute;
  left:418px;
  top:374px;
  width:63px;
  height:22px;
}
#u410_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u410_input:disabled {
  color:grayText;
}
#u411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u411 {
  position:absolute;
  left:422px;
  top:412px;
  width:65px;
  height:27px;
  color:#000000;
}
#u412 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u413 {
  position:absolute;
  left:501px;
  top:412px;
  width:65px;
  height:27px;
  color:#000000;
}
#u414 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u415 {
  position:absolute;
  left:358px;
  top:471px;
  width:129px;
  height:32px;
  color:#FF0000;
}
#u416 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u417 {
  position:absolute;
  left:358px;
  top:471px;
  width:129px;
  height:32px;
  color:#FF0000;
}
#u418 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
