body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:758px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u0 {
  position:absolute;
  left:145px;
  top:67px;
  width:612px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:608px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u2 {
  position:absolute;
  left:145px;
  top:98px;
  width:138px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:206px;
  top:103px;
  width:71px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5 {
  position:absolute;
  left:282px;
  top:98px;
  width:475px;
  height:37px;
  text-align:left;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:471px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7 {
  position:absolute;
  left:145px;
  top:135px;
  width:612px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:608px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:206px;
  top:141px;
  width:71px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:333px;
  top:142px;
  width:95px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:509px;
  top:142px;
  width:95px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u14 {
  position:absolute;
  left:145px;
  top:172px;
  width:612px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:608px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:145px;
  top:207px;
  width:65px;
  height:34px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:206px;
  top:207px;
  width:65px;
  height:34px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:271px;
  top:207px;
  width:65px;
  height:34px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:336px;
  top:207px;
  width:65px;
  height:34px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:401px;
  top:207px;
  width:65px;
  height:34px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:466px;
  top:207px;
  width:75px;
  height:34px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:541px;
  top:207px;
  width:80px;
  height:34px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:621px;
  top:207px;
  width:79px;
  height:34px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:145px;
  top:241px;
  width:618px;
  height:95px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u27 {
  position:absolute;
  left:61px;
  top:0px;
  width:65px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u29 {
  position:absolute;
  left:126px;
  top:0px;
  width:64px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u31 {
  position:absolute;
  left:190px;
  top:0px;
  width:66px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u33 {
  position:absolute;
  left:256px;
  top:0px;
  width:65px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u35 {
  position:absolute;
  left:321px;
  top:0px;
  width:74px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u37 {
  position:absolute;
  left:395px;
  top:0px;
  width:80px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u39 {
  position:absolute;
  left:475px;
  top:0px;
  width:78px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u41 {
  position:absolute;
  left:553px;
  top:0px;
  width:60px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u43 {
  position:absolute;
  left:0px;
  top:30px;
  width:61px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u45 {
  position:absolute;
  left:61px;
  top:30px;
  width:65px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u47 {
  position:absolute;
  left:126px;
  top:30px;
  width:64px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u49 {
  position:absolute;
  left:190px;
  top:30px;
  width:66px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u51 {
  position:absolute;
  left:256px;
  top:30px;
  width:65px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u53 {
  position:absolute;
  left:321px;
  top:30px;
  width:74px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u55 {
  position:absolute;
  left:395px;
  top:30px;
  width:80px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u57 {
  position:absolute;
  left:475px;
  top:30px;
  width:78px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u59 {
  position:absolute;
  left:553px;
  top:30px;
  width:60px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u61 {
  position:absolute;
  left:0px;
  top:60px;
  width:61px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u63 {
  position:absolute;
  left:61px;
  top:60px;
  width:65px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u65 {
  position:absolute;
  left:126px;
  top:60px;
  width:64px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u67 {
  position:absolute;
  left:190px;
  top:60px;
  width:66px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u69 {
  position:absolute;
  left:256px;
  top:60px;
  width:65px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u71 {
  position:absolute;
  left:321px;
  top:60px;
  width:74px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u73 {
  position:absolute;
  left:395px;
  top:60px;
  width:80px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u75 {
  position:absolute;
  left:475px;
  top:60px;
  width:78px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u77 {
  position:absolute;
  left:553px;
  top:60px;
  width:60px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u79 {
  position:absolute;
  left:146px;
  top:330px;
  width:612px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u80 {
  position:absolute;
  left:2px;
  top:5px;
  width:608px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:146px;
  top:359px;
  width:138px;
  height:32px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82 {
  position:absolute;
  left:283px;
  top:359px;
  width:141px;
  height:32px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83 {
  position:absolute;
  left:423px;
  top:359px;
  width:155px;
  height:32px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u84 {
  position:absolute;
  left:578px;
  top:359px;
  width:179px;
  height:32px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:145px;
  top:391px;
  width:612px;
  height:107px;
}
#u86 {
  position:absolute;
  left:2px;
  top:46px;
  width:608px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:700px;
  top:207px;
  width:58px;
  height:34px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u88 {
  position:absolute;
  left:710px;
  top:251px;
  width:47px;
  height:16px;
}
#u89 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u88_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90 {
  position:absolute;
  left:711px;
  top:277px;
  width:47px;
  height:16px;
}
#u91 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u90_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u92 {
  position:absolute;
  left:711px;
  top:303px;
  width:47px;
  height:16px;
}
#u93 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u92_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u94 {
  position:absolute;
  left:146px;
  top:391px;
  width:615px;
  height:110px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:33px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:33px;
}
#u96 {
  position:absolute;
  left:2px;
  top:9px;
  width:133px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u97 {
  position:absolute;
  left:137px;
  top:0px;
  width:141px;
  height:33px;
}
#u98 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:33px;
}
#u99 {
  position:absolute;
  left:278px;
  top:0px;
  width:155px;
  height:33px;
}
#u100 {
  position:absolute;
  left:2px;
  top:9px;
  width:151px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u101 {
  position:absolute;
  left:433px;
  top:0px;
  width:177px;
  height:33px;
}
#u102 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u103 {
  position:absolute;
  left:0px;
  top:33px;
  width:137px;
  height:36px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u105 {
  position:absolute;
  left:137px;
  top:33px;
  width:141px;
  height:36px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u107 {
  position:absolute;
  left:278px;
  top:33px;
  width:155px;
  height:36px;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:36px;
}
#u109 {
  position:absolute;
  left:433px;
  top:33px;
  width:177px;
  height:36px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u111 {
  position:absolute;
  left:0px;
  top:69px;
  width:137px;
  height:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u113 {
  position:absolute;
  left:137px;
  top:69px;
  width:141px;
  height:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u115 {
  position:absolute;
  left:278px;
  top:69px;
  width:155px;
  height:36px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:36px;
}
#u117 {
  position:absolute;
  left:433px;
  top:69px;
  width:177px;
  height:36px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u119 {
  position:absolute;
  left:351px;
  top:533px;
  width:77px;
  height:27px;
  color:#FF0000;
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:621px;
  top:180px;
  width:92px;
  height:21px;
}
#u122 {
  position:absolute;
  left:2px;
  top:3px;
  width:88px;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u123 {
  position:absolute;
  left:352px;
  top:532px;
  width:77px;
  height:27px;
  color:#FF0000;
}
#u124 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
